:root {
	--font-family: 'Airbnb Cereal', sans-serif;
	--color-active: #aaf0d1;
	--ease: cubic-bezier(0.23, 1, 0.32, 1);
	--duration: 350ms;
}

* {
	box-sizing: border-box;
}

html {
	--scroll-behavior: smooth;
	scroll-behavior: var(--scroll-behavior);
}

@media (prefers-reduced-motion: reduce) {
	html {
		--scroll-behavior: auto;
	}
}

body {
	font-family: var(--font-family);
	line-height: 1.5;
}

h2 {
	font-weight: bold;
	font-size: 2.25rem;
	line-height: 1.25;
}

.nav-sections {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #fefe;
	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
	z-index: 100;
}

.page-sections {
	margin: 0 auto;
	max-width: 75ch;
}

.page-section {
	margin: calc(1.2rem * 2) 0;
}

.page-section > * + * {
	margin-top: calc(1.2rem * 1.5);
}

.nav-sections .menu-item-link {
	display: block;
	padding: 12px 16px;
	font-size: 15px;
	text-decoration: none;
	white-space: nowrap;
}

.active-line {
	position: absolute;
	bottom: 10%;
	left: 0;
	height: 80%;
	border-radius: 4px;
	background-color: var(--color-active);
	opacity: 10%;
	-webkit-transition: width var(--ease) var(--duration), -webkit-transform var(--ease) var(--duration);
	transition: width var(--ease) var(--duration), -webkit-transform var(--ease) var(--duration);
	transition: width var(--ease) var(--duration), transform var(--ease) var(--duration);
	transition: width var(--ease) var(--duration), transform var(--ease) var(--duration),
		-webkit-transform var(--ease) var(--duration);
}
